<div class="row">
    <div class="col-xxl-3">
        <ngx-player></ngx-player>
    </div>
    <div class="col-xxl-9">
        <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
    </div>
</div>

<div class="row">
    <div class="col-xxl-12">
        <!--
        <div class="row">
            <div class="col-xxl-4">
                <ngx-performancemetric-card pmname="Engagement"></ngx-performancemetric-card>
            </div>
            <div class="col-xxl-4">
                <ngx-performancemetric-card pmname="Excitement"></ngx-performancemetric-card>
            </div>
            <div class="col-xxl-4">
                <ngx-performancemetric-card pmname="Stress"></ngx-performancemetric-card>
            </div>
        </div>
        -->

        <div class="row">
            <div class="col-xxl-4 col-md-6" >
                <ngx-performancemetric-card pmname="Entspannungslevel"></ngx-performancemetric-card>
            </div>
            <div class="col-xxl-4 col-md-6">
                <ngx-performancemetric-card pmname="Aufregung"></ngx-performancemetric-card>
            </div>
            <div class="col-xxl-4 col-md-6">
                <ngx-performancemetric-card pmname="Interesse"></ngx-performancemetric-card>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>
